<h1>
    A value is <%= mya %><br>
    B value is <%= myb %><br>
    C value is <%= myc %><br>
    D value is <%= myd %><br>
    E value is <%= mye %><br>
    Sum is <%= myf %><br>
    Result is <%= myresult %>
</h1>